In [ ]:
import time
import tracemalloc
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.svm import  SVC
import numpy as np
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("dataset.csv")
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
X=df.iloc[:,1:5]
y=df['Species']

In [ ]:
X.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

In [ ]:
y.tail()

145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, dtype: object

In [ ]:
svm = SVC(kernel='linear', random_state=1, gamma=0.001, C=10)

svm.fit(X, y)

SVC(C=10, gamma=0.001, kernel='linear', random_state=1)

**Accuracy Score**

In [ ]:
y_pred=svm.predict(X)
print(accuracy_score(y, y_pred))

0.98

**Runtime Fit**

In [ ]:
runtimefit = []

for _ in range(100):
    start = time.perf_counter()
    svm.fit(X, y)
    stop = time.perf_counter()
    runtimefit.append((stop - start) * 1000)

In [ ]:
runtimefit_df = pd.DataFrame(runtimefit, columns=["Milliseconds"])

In [ ]:
runtimefit_df.describe()

       Milliseconds
count    100.000000
mean       1.798233
std        0.583317
min        1.571340
25%        1.604947
50%        1.631735
75%        1.707948
max        5.770842

**Runtime Predict**

In [ ]:
runtimepredict = []

for _ in range(100):
    start = time.perf_counter()
    y_pred=svm.predict(X)
    stop = time.perf_counter()
    runtimepredict.append((stop - start) * 1000)

In [ ]:
runtimepredict_df = pd.DataFrame(runtimepredict, columns=["Milliseconds"])

In [ ]:
runtimepredict_df.describe()

       Milliseconds
count    100.000000
mean       1.339883
std        0.604616
min        0.992786
25%        1.009862
50%        1.050534
75%        1.561448
max        4.166979

**Memory Consumption**

In [ ]:
tracemalloc.start()
svm.fit(X, y)
print(tracemalloc.get_traced_memory())


tracemalloc.stop()

(2965, 17410)